.idea/*
*/*/__pycache__
*/__pycache__
__pycache__
.idea
.ipynb_checkpoints
.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
dataProcessing/mainApp_2.py
dataProcessing/mainApp_3.py
resources/output/*.jpg
resources/output/*.png
resources/pictures/lyrics_wordcloud.png
