tensorflow
tensorflow-estimator
keras
Keras-Preprocessing
wheel
wordcloud
beautifulsoup4
bs4
ipython
gensim
nltk
numpy
pydeck
pandas
regex
requests
urllib3
tqdm
scikit-learn
scipy
setuptools
streamlit
Unidecode
validators
transformers


absl-py
aiohttp
aiosignal
altair
astunparse
attrs
blinker
Brotli
cachetools
certifi
cffi
charset-normalizer
click
contourpy
zipp
cryptography
cycler
filelock
flatbuffers
fonttools
frozenlist
fsspec
gast
gitdb
GitPython
gmpy2
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
kiwisolver
Markdown
Jinja2
joblib
jsonschema
importlib-metadata
jsonschema-specifications
markdown-it-py
MarkupSafe
matplotlib
mdurl
mpmath
multidict
networkx
oauthlib
opt-einsum
packaging
Pillow
protobuf
pyarrow
pyasn1-modules
pyasn1
pycparser
Pygments
PyJWT
pyOpenSSL
pyparsing
PySocks
python-dateutil
pytz
PyYAML
referencing
requests-oauthlib
rich
rpds-py
rsa
safetensors
six
smart-open
smmap
soupsieve
sympy
tenacity
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
termcolor
threadpoolctl
toml
toolz
torch
tornado
tzdata
tzlocal






